[package]
name = "rdpe"
description = "Reaction Diffusion Particle Engine - GPU particle simulations made easy"
version = "0.1.0"
edition = "2021"
license = "MIT"

[workspace]
members = [".", "rdpe-derive"]

[dependencies]
bytemuck = { version = "1.24.0", features = ["derive"] }
glam = { version = "0.29", features = ["bytemuck"] }
pollster = "0.4"
wgpu = "27.0.1"
winit = "0.30.12"
rdpe-derive = { path = "rdpe-derive" }

[[example]]
name = "bouncing"
path = "examples/bouncing.rs"
